	<div id="banner_copy">
		<h1 class="block_type_2">A Private Way to Share Files with Friends</h1>
		<p class="custom_type_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
	<div id="cloud_diagram"></div>