	<div id="cta_copy">
		<header class="block_type_2 type_shadow">Start sharing today.</header>
		<div id="facebook_icon" class='social_icon'></div>
		<div id="twitter_icon" class='social_icon'></div>
		<div id="instagram_icon" class='social_icon'></div>
	</div>
	<%= link_to "Login Now", "", id: 'login_button', class: 'button red_button' %>