<div id="feature_columns" class="sub_columns">
	<header class='block_type_2 type_shadow'>Why use SendFil.es?</header>
	<div class="column_wrap">
		<div class="column">
			<div id="feature_1" class="column_icon"></div>
			<header class='custom_type_1 type_shadow'>5GB of FREE Storage</header>
			<ul>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
			</ul>
		</div>
		<div class="column">
			<div id="feature_2" class="column_icon"></div>
			<header class='custom_type_1 type_shadow'>Share with Social Networks</header>
			<ul>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
			</ul>
		</div>
		<div class="column">
			<div id="feature_3" class="column_icon"></div>
			<header class='custom_type_1 type_shadow'>Integrate with DropBox</header>
			<ul>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
			</ul>
		</div>
		<div class="column">
			<div id="feature_4" class="column_icon"></div>
			<header class='custom_type_1 type_shadow'>So Much More</header>
			<ul>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
				<li>
					Some feature bullet point
				</li>
			</ul>
		</div>
	</div>
</div>