<div id="testimonial_columns" class="sub_columns">
	<header class='block_type_2 type_shadow'>Our Users Love Us</header>
	<div class="column_wrap">
		<div class="column">
			<div id="testimonial_1" class="column_icon"></div>
			<header class='custom_type_1 type_shadow'>Rich - San Francisco, CA.</header>
			<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua."</p>
		</div>
		<div class="column">
			<div id="testimonial_2" class="column_icon"></div>
			<header class='custom_type_1 type_shadow'>Bob - Salt Lake City, UT.</header>
			<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua."</p>
		</div>
		<div class="column">
			<div id="testimonial_3" class="column_icon"></div>
			<header class='custom_type_1 type_shadow'>Jason - Jersey City, NJ.</header>
			<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua."</p>
		</div>
		<div class="column">
			<div id="testimonial_4" class="column_icon"></div>
			<header class='custom_type_1 type_shadow'>Dee - Financial Capitol, NY.</header>
			<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua."</p>
		</div>
	</div>
</div>