<div class="footer_nav">
	<ul>
		<header>Send Files</header>
	  <li>
	    <%= link_to "Home", root_path, class: "nav_link" %>
	  </li>
<!-- 		<li>
			<%#= link_to "Customers", "", class: "nav_link" %>
		</li>
		<li>
			<%#= link_to "Results", "", class: "nav_link" %>
		</li>
		<li>
			<%#= link_to "Pricing", "", class: "nav_link" %>
		</li> -->
	</ul>
	
<div class="footer_nav">
	<ul>
		<header>Resources</header>
<!-- 		<li>
			<%#= link_to "Content", "", class: "nav_link" %>
		</li>
		<li>
			<%#= link_to "Tracking", "", class: "nav_link" %>
		</li>
		<li>
			<%#= link_to "Guide", "", class: "nav_link" %>
		</li> -->
	</ul>

	<ul>
		<header>Company</header>
<!-- 	  <li>
	    <%#= link_to "About Us", "", class: "nav_link" %>
	  </li>
		<li>
			<%#= link_to "Contact", "", class: "nav_link" %>
		</li>
		<li>
			<%#= link_to "Press", "", class: "nav_link" %>
		</li>
		<li>
			<%#= link_to "Privacy", "", class: "nav_link" %>
		</li>
		<li>
			<%#= link_to "FAQ", "", class: "nav_link" %>
		</li> -->
	</ul>
</div>